<!doctype html>
<html class="no-js" lang="en">

<!-- index.html  03:25:08 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Jpec Veículos</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/icon.jpg">
    
    <!-- CSS 
    ========================= -->
   

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="stylesheets/css/plugins.css">
    
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="stylesheets/css/style.css">
    <link rel="stylesheet" href="stylesheets/css/custom.css">

</head>
<body>
    <header>
        <div class="main_header">
            <!--header top start-->
            <div class="header_top">
                <div class="container">  
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="support_info">
                                <p>Email: <a href="mailto:">jpecveiculos@gmail.com</a></p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="top_right text-right">
                                <ul>
                                   <li><a href="">Conta</a></li> 
                                   <li><a href="">Cadastre-se</a></li> 
                                </ul>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
            <div class="header_middle">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-6">
                            <div class="logo">
                                <a href="index"><img src="" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-6">
                            <div class="middel_right">
                                <div class="search_container">
                                   <form action="#">
                                        <div class="search_box">
                                            <input placeholder="Pesquise.." type="text">
                                            <button type="submit">Pesquisar</button> 
                                        </div>
                                    </form>
                                </div>
                                <div class="middel_right_info">
                                    <div class="header_wishlist">
                                        <a href="#"><img src="assets/img/user.png" alt=""></a>
                                    </div>
                                    <div class="mini_cart_wrapper">
                                        <a href="javascript:void(0)"><img src="assets/img/shopping-bag.png" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--header middel end-->
            <!--header bottom satrt-->
            <div class="main_menu_area">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 col-md-12">
                            <div class="main_menu menu_position"> 
                                <nav>  
                                    <ul>
                                        <li><a href="index">Home</a></li>
                                        <li><a href="sobre">Sobre</a></li>
                                        <li><a href="novos">Novos</a></li>
                                        <li><a href="seminovos">Semi Novos</a></li>
                                    </ul>  
                                </nav> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div> 
    </header>
   

    <section class="pt-60 pb-30">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="section-title">
                        <h2>Sobre</h2>
                    </div>
                </div>
            </div>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
           
                  </div>
              </div>
           </div>
       </div>
  </section>
 
 <footer class="footer_widgets">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="widgets_container widget_menu">
                        <h3>Sobre</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Sobre nós</a></li>
                                <li><a href="#">Carros novos</a></li>
                                <li><a href="">Carros Semi novos</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            <div class="col-lg-3 col-md-6">
                <div class="widgets_container widget_menu">
                    <h3>Informações</h3>
                    <div class="footer_menu">
                        <ul>
                            <li><a href="about.html">Certificações</a></li>
                            <li><a href="blog.html">Retornos</a></li>
                            <li><a href="contact.html">Contate-nos</a></li>
                            <li><a href="services.html">Termos & Condições</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="widgets_container widget_menu">
                    <h3>Outra coisa</h3>
                    <div class="footer_menu">
                        <ul>
                            <!-- <li><a href="#">Home</a></li>
                            <li><a href="#">Sobre nós</a></li>
                            <li><a href="#">Carros novos</a></li>
                            <li><a href="">Carros Semi novos</a></li> -->
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="widgets_container newsletter">
                    <h3>Redes Sociais</h3>
                    <div class="footer_social_link">
                        <ul>
                            <li><a class="facebook" href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter" href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="instagram" href="#" title="instagram"><i class="fa fa-instagram"></i></a></li>
                            <li><a class="linkedin" href="#" title="linkedin"><i class="fa fa-linkedin"></i></a></li>
                            <li><a class="rss" href="#" title="rss"><i class="fa fa-rss"></i></a></li>
                        </ul>
                        
                    </div>
                   
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="copyright_area">
                        <p> <a href="">Jpec Veículos</a></p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="footer_payment text-right">
                        <a href="#"><img src="assets/img/icon/payment.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</footer>
<!--footer area end-->

<!-- Plugins JS -->
<script src="assets/js/plugins.js"></script>

<!-- Main JS -->
<script src="assets/js/main.js"></script>

</body>

</html>