
   <div class="main_header">
    <!--header top start-->
    <div class="main_menu_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-12">
                    <div class="main_menu menu_position"> 
                      <nav>  
                        <ul>
                            <li><a href="index">Home</a></li>
                            <li><a href="sobre">Sobre</a></li>
                            <li><a href="novos">Novos</a></li>
                            <li><a href="seminovos">Semi Novos</a></li>
                        </ul>  
                    </nav> 
                </div>
            </div>
        </div>
    </div>
</div> 
